@{
    ViewData["Title"] = "Confirmar deleção";
}

<div class="text-center">
     <h3>Confirmar deleção?</h3>
</div>

<a class="btn btn-primary d-block" role="button" asp-action="Index">Cancelar deleção</a>
<a class="btn btn-danger d-block" role="button"><b>Confirmar deleção</b></a>